.main-about-me {
    height: 650px;
    background-color: #161616;
}

.about-text {
    padding-top: 105px;
    grid-column: 1/5;
}

.about-text h2 {
    color: #FFB800;
    padding-bottom: 20px;
    font-size: 38px;
}

.about-text p {
    color: white;
    font-size: 18px;
    padding-bottom: 60px;
}

.about-text a {
    background-color: #FF9F59;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 22px 58px;
    transition: all 0.3s ease 0s;
}

.about-text a:hover {
    background-color: #FFB800;
    color: black;
}

.horario-about {
    grid-column: 6/9;
    padding-top: 105px;
    gap: 22px;
}

.horario-about h2 {
    color: #FFB800;
    font-size: 38px;
    padding-bottom: 20px;
}

.horario-about p {
    font-size: 18px;
    color: white;
}

.horario-about p span {
    color: #FFB800;
    font-weight: bold;
}

.about-me-img {
    grid-column: 9/12;
}

.about-img {
    padding-top: 120px;
    padding-left: 20px;
    height: 500px;
    width: 320px;
}

@media (max-width: 768px) {

    .main-about-me {
        overflow-y: auto;
        height: 100%
    }

    .about-text, .about-me-img, .horario-about {
        grid-column: 1/-1;
        text-align: center;
    }

    .about-text p {
        font-size: 16px;
    }

    .horario-about p  {
        padding-bottom: 10px;
    }

    .about-img {
        padding-bottom: 120px;
        height: 580px;
        max-width: 100%;
    }
}