.menu-seccion {
    background-color: #111111;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 92%;
    /* gap: 18px; */
    max-width: 1148px;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding-bottom: 80px;
}

.menu-title {
    grid-column: 1/-1;
    padding-top: 70px;
    padding-bottom: 60px;
}

.menu-title h2 {
    text-align: center;
    font-size: 48px;
    color: #FFB800;
}

.menu-card {
    background-color: #212121;
    border: 3px solid #FFB800;
}

.menu-card img {
    height: 280px;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}

.menu-card h4 {
    font-size: 20px;
    color: #FF9F59;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 48px;
}

.card-time {
    display: flex;
}

.card-time i {
    padding-left: 15px;
    padding-bottom: 15px;
    color: #FFB800;
    font-size: 18px;
}

.card-time p {
    padding-left: 12px;
    color: white;
    font-size: 18px;
    font-weight: 200;
}

.card-star-text {
    display: flex;
    gap: 90px;
}

.menu-stars {
    padding-left: 15px;
    padding-bottom: 20px;
    color: #FFB800;
    font-size: 16px;
}

.menu-buttom {
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding-left: 42px;
    padding-right: 43px;
    background-color: #FFB800;
    color: white;
    border: none;
    transition: all 0.3s ease 0s;
}

.menu-buttom:hover {
    color: black;
}

@media (max-width: 688px) {
    .menu-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 70%;
    }

    .menu-card h4 {
        font-size: 28px;
    }

    .menu-stars {
        font-size: 28px;
        padding-bottom: 20px;
    }

    .menu-buttom {
        padding-left: 130px;
    }
}

@media (max-width: 700px) {
    .menu-card h4 {
        font-size: 24px;
    }

    .menu-stars {
        font-size: 14px;
    }

    .menu-buttom {
        padding-left: 20px;
        padding-right: 22px;
    }
}

@media (max-width: 688px) {
    .menu-card h4 {
        font-size: 22px;
    }

    .menu-stars {
        font-size: 10px;
    }

    .menu-buttom {
        padding-right: 33px;
    }
}

@media (max-width: 584px) {
    .menu-card h4 {
        font-size: 18px;
    }

    .menu-stars {
        font-size: 7px;
    }

    .menu-buttom {
        font-size: 12px;
        padding-right: 26px;
    }
}